:root{
    --color1:rgb(89, 204, 36);
    --colorG: rgb(0, 47, 255);
    --colorF: rgb(255, 0, 140);
    font-family: comic, cursive;

}



/*------corps-------*/

body {
    margin:0px;
    background-color: rgb(245, 245, 245);
}




/*-----Les séparateurs ----*/

div.separateur {
    background-color: var(--color1);
    height: 2px;
    width: 200px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    left: 50%;
    margin-left: -100px;
}

div.separateur-menu {
    background-color: var(--color1);
    height: 2px;
    width: 200px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 125px;
    left: 50%;
    margin-left: -100px;
}




/*-----h1 et h2-----*/

h1{
    text-align: center;
    font-size: 84px;
    font-weight: normal;
    color: black;
    margin-top: 50px;
    margin-bottom: 30px;
}

f{
    color:var(--colorF)
}
g{
    color:var(--colorG)
}

h2 {
    text-align: center;
    font-size: 52px;
 }




/*-----Photos baptême----*/

div.image_de_fond{
    text-align: center;
    position: relative;
    margin-top:150px;
    margin-bottom: 50px;
}

img.photo-gauche {
    background-color: gainsboro;
    width: 400px;
    transform: rotate(-15deg);
    margin-right: -15px;
    border-left: 2px solid var(--colorF);
    border-top: 2px solid var(--colorF);
    border-right: 2px solid var(--colorG);
    border-bottom: 2px solid var(--colorG);
}

img.photo-centrale {
    background-color: gainsboro;
    width: 400px;
    border: solid 2px var(--color1)
}

img.photo-droite {
    background-color: gainsboro;
    width: 400px;
    transform: rotate(15deg);
    margin-left: -15px;
    border-left: 2px solid var(--colorF);
    border-top: 2px solid var(--colorF);
    border-right: 2px solid var(--colorG);
    border-bottom: 2px solid var(--colorG);
}



/*----Les menus-----*/




.parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0;
}

.parent a{
    max-width: 45%;
    min-width: 300px;
    height: 100%;
    margin: 0 10px;

}

img {
    width: 100%;
}



div.parent p {
    font-size:30px;
    text-align: center;
}





/*-----Les bordures-----*/

.bordure-left-Gabin{
    border-left: solid 2px var(--colorG);
    padding-left: 10px;
    padding-top: 10px;
    border-top: solid 2px var(--colorG);
}
.bordure-right-Gabin{
    border-right: solid 2px var(--colorG);
    padding-right: 10px;
    border-bottom: solid 2px var(--colorG);
    padding-bottom: 10px;
}

.bordure-left-Flavie{
    border-left: solid 2px var(--colorF);
    padding-left: 10px;
    padding-top: 10px;
    border-top: solid 2px var(--colorF);

}
.bordure-right-Flavie{
    border-right: solid 2px var(--colorF);
    padding-right: 10px;
    border-bottom: solid 2px var(--colorF);
    padding-bottom: 10px;
}

.bordure-left-neutre{
    border-left: solid 2px var(--color1);
    padding-left: 10px;
    padding-top: 10px;
    border-top: solid 2px var(--color1);

}
.bordure-right-neutre{
    border-right: solid 2px var(--color1);
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px var(--color1);

}


h3 {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 30px;
}




/*-----CSS cloture-----*/

div.cloture {
    display: flex;
    justify-content: flex-end;
}



div.cloture p {
    font-size: 20px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

a.logo {
    color : rgb(255, 120, 0);
    font-family: Monotype Corsiva;
    text-decoration: none;
    font-size: 30px;
}

a.logo:hover {
    border: solid 2px rgb(255, 255, 255);
}



/*-----CSS commun Pages annexes----*/

div.retour a {
    display: inline-block;
    font-size: 30px;
    color: var(--color1);
    text-decoration:none ;
    margin-top: 20px;
    margin-left: 20px;
}




/*-----Photos page photos----*/

/*div.photo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

div.photo img {
    background-color: gainsboro;
    max-width: 10%;
    margin:10px 10px;

}*/

.video {
    max-width: 600px;
}

.photo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.photo img{
    max-width: 90%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.visionnage {
    margin: 15px 0 15px 0 ;

}

.visionnage a {
    text-decoration: none;
    font-size: 24px;
    color:black;
}


/*-§§§§§§-CSS Responsive Design-§§§§§§-*/

@media only screen and (max-width: 768px) {
    



/*-----Les séparateurs ----*/


    div.separateur-menu {
        background-color: var(--color1);
        height: 2px;
        width: 200px;
        position: relative;
        display: inline-block;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 25px;
        left: 50%;
        margin-left: -100px;
    }




    /*-----h1 et h2 responsive design -----*/

    h1 {
        font-size: 42px;
        margin-top: 20px;

    }
    
    h2{
        font-size: 30px;
    }
    



    /*-----Photos baptême responsive design----*/

    div.image_de_fond{
        text-align: center;
        position: relative;
        margin-top:30px;
        margin-bottom: 50px;
    }


    img.photo-gauche {
        width: 280px;
        margin-right: 0px;
    }

    img.photo-centrale {
        width: 280px;
    }

    img.photo-droite {
        width: 280px;
        margin-left: 0px;

    }




/*----Les menus responsive design-----*/


    .parent {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 50px 0;
    }

    .parent a{
        max-width: 45%;
        min-width: 300px;
        height: 100%;
        margin: 0 10px;

    }

    img {
        width: 100%;
    }

    div.parent p {
        font-family: Arial, Helvetica, sans-serif;
        font-size:20px;
        text-align: center;
    }

    div.photo img {
        max-width: 75%;
        margin:10px 10px;

        
    }


    /*-----CSS commun Pages annexes responsive----*/

    .photo-h1 {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    div.retour a {
        display: inline-block;
        font-size: 20px;
        color: var(--color1);
        text-decoration:none ;
        margin-top: 0;
        margin-left: 20px;
    }

    .photo {
        flex-direction: column;
    }

    .photo img {
        max-width: 300px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }


    /*----H3 page Kdo----*/

    h3 {
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        font-size: 24px;
    }



    .bordure-left-neutre{
        padding-left: 2px;
    }

    .bordure-right-neutre{
        padding-right: 2px;
    }

    .bordure-left-Flavie{
        padding-left: 2px;
    }

    .bordure-right-Flavie{
        padding-right: 2px;
    }

    .bordure-left-Gabin{
        padding-left: 2px;
    }

    .bordure-right-Gabin{
        padding-right: 2px;
    }

    .video {
        max-width: 300px;
    }

    /*-----Cloture responsive design-----*/

    div.cloture {
        display: flex;
        justify-content: flex-end;
    }



    div.cloture p {
        font-size: 14px;
        padding-right: 10px;
    }

    a.logo {
        color : rgb(255, 120, 0);
        font-family: Monotype Corsiva;
        text-decoration: none;
        font-size: 20px;
    }



}